@font-face {
    font-family: poiretOne ;
    src: url('/PoiretOne-Regular.ttf');
}

body
{
    background-image: linear-gradient(to bottom right, #7b7bff, #acf1ac);
    background-attachment: fixed;
    font-family: poiretOne ;
}
.container
{
    padding-top: 10em;
}
.col-centered
{
    margin: 0 auto;
}

#signinBox
{
    background-color: white;
    padding: 3em;
    width: 380px;
    margin: 0 auto;

    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
}
#signinHeader
{
    padding-bottom: 1em;
    font-family: 'Unica One', cursive !important;
}
#signinHeader h1
{
    color: #7b7bff;
    font-weight: bold;
    font-size: 45px;
}
hr.break
{
    border-top: 1px solid #7b7bff;
}

#signinFooter
{
    padding: 20px 0px 0px 0px ;
}

#signinFooter > p > a
{
    color: #7b7bff;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Unica One', cursive !important;
}

.btn-purple
{
    background-color: #8bef8b  !important;
    font-family: 'Courier Prime', monospace;
}